<div class="row list-card">
  <article class="col-xl-3 col-lg-4 col-md-6 card p-3 ">
<div class="card__body">
<div class="card__action card__action--left">
<span class="rounded-item"><i title="Hot event" class="octicon octicon-flame" aria-hidden="true" style="color:#E38C2D"></i></span>
</div>
<div class="card__action card__action--right">
<a class="reminder rounded-item" href="#alertReminder" data-toggle="modal" data-target="#alertReminder" data-idevent="21540" data-date="10 June 2019" data-coin="Zilliqa (ZIL)" data-title="Smart Contracts Release" title="Smart Contracts Release"><i class="far fa-clock" style="color:#4abce6"></i></a>
</div>

<div class="card__logo-wrapper">
<div class="icon-sm ">
<img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/zilliqa_large.png" alt="Zilliqa (ZIL)">
</div>
</div>
<h5 class="card__coins">
<a href="/en/coin/zilliqa" class="link-detail">Zilliqa (ZIL)</a>
</h5>
<a href="/en/event/smart-contracts-release-21540" class="link-detail" title="Smart Contracts Release">
<h5 class="card__date mt-0">10 June 2019</h5>
<h5 class="card__title mb-0 ellipsis">Smart Contracts Release</h5>
</a>
<div id="box-21540">
<p class="card__description">
Smart contracts will be enabled on Zilliqa blockchain.
</p>

<div class="container-fluid">
<div class="row justify-content-center">
<div class="col-md-5 col-6">
<a onclick="gtag('event', 'click',{'event_category' : 'modal_proof'})" class="btn btn-sm btn-border-b btn-color-link rounded-pill btn-block proof_modal" title="Show proof" href="https://d32bfp67k1q0s7.cloudfront.net/6ae744ee93121aea5bc3eded86529d96.jpeg">Proof</a>
</div>
<div class="col-md-5 col-6">
<a class="btn btn-sm btn-border-b btn-color-link rounded-pill btn-block" title="Show source" target="_blank" href="https://twitter.com/zilliqa/status/1130829145070546948?s=21">Source</a>
</div>
</div>
</div>
<div class="progress">
<div class="progress__votes">328
Votes</div>
<div class="progress-bar" style="width: 97.561%;" aria-valuenow="97.560975609756" role="progressbar" aria-valuemin="0" aria-valuemax="100">
<span class="progress__percent" style="opacity: 1;">98</span>
</div>
</div>
<div class="card__vote-wrapper" style="opacity: 1;">

          <div class="container-fluid">
<div class="row">
<div class="col-6"><a class="btn btn-background-g  btn-block vote-button vote-button--list btn-sm" data-votevalue="1" title="Like" data-eventid="21540"><i class="fas fa-thumbs-up"></i> Like</a></div>
<div class="col-6"><a class="btn btn-background-g  btn-block vote-button vote-button--list btn-sm" data-votevalue="0" title="Dislike" data-eventid="21540"><i class="fas fa-thumbs-down"></i> Dislike</a></div>
</div>
</div>
                                      </div>
</div>
<div class="tip">
<p class="added-date">Added  25 May 2019</p>
<div class="tip__top">
Reward &amp; follow <a target="_blank" href="https://twitter.com/shacklertr">@shacklertr</a>
</div>
</div>    </div>
</article>
<article class="col-xl-3 col-lg-4 col-md-6 card p-3 ">
<div class="card__body">
<div class="card__action card__action--left">
</div>
<div class="card__action card__action--right">
<a class="reminder rounded-item" href="#alertReminder" data-toggle="modal" data-target="#alertReminder" data-idevent="21650" data-date="10 June 2019" data-coin="Stellar (XLM)" data-title="Protocol 11 Upgrade Vote" title="Protocol 11 Upgrade Vote"><i class="far fa-clock" style="color:#4abce6"></i></a>
</div>

<div class="card__logo-wrapper">
<div class="icon-sm ">
<img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/stellar_large.png" alt="Stellar (XLM)">
</div>
</div>
<h5 class="card__coins">
<a href="/en/coin/stellar" class="link-detail">Stellar (XLM)</a>
</h5>
<a href="/en/event/protocol-11-upgrade-vote-21650" class="link-detail" title="Protocol 11 Upgrade Vote">
<h5 class="card__date mt-0">10 June 2019</h5>
<h5 class="card__title mb-0 ellipsis">Protocol 11 Upgrade Vote</h5>
</a>
<div id="box-21650">
<p class="card__description">
"On Monday, June 10th at 16:00 UTC, validators will vote to upgrade the Stellar Network to Protocol 11!"
</p>

<div class="container-fluid">
<div class="row justify-content-center">
<div class="col-md-5 col-6">
<a onclick="gtag('event', 'click',{'event_category' : 'modal_proof'})" class="btn btn-sm btn-border-b btn-color-link rounded-pill btn-block proof_modal" title="Show proof" href="https://d32bfp67k1q0s7.cloudfront.net/9905777af14f9c9d0178682fff9c0d61.png">Proof</a>
</div>
<div class="col-md-5 col-6">
<a class="btn btn-sm btn-border-b btn-color-link rounded-pill btn-block" title="Show source" target="_blank" href="https://twitter.com/StellarOrg/status/1134192074906099712">Source</a>
</div>
</div>
</div>
<div class="progress">
<div class="progress__votes">61
Votes</div>
<div class="progress-bar" style="width: 86.8852%;" aria-valuenow="86.885245901639" role="progressbar" aria-valuemin="0" aria-valuemax="100">
<span class="progress__percent" style="opacity: 1;">87</span>
</div>
</div>
<div class="card__vote-wrapper" style="opacity: 1;">

          <div class="container-fluid">
<div class="row">
<div class="col-6"><a class="btn btn-background-g  btn-block vote-button vote-button--list btn-sm" data-votevalue="1" title="Like" data-eventid="21650"><i class="fas fa-thumbs-up"></i> Like</a></div>
<div class="col-6"><a class="btn btn-background-g  btn-block vote-button vote-button--list btn-sm" data-votevalue="0" title="Dislike" data-eventid="21650"><i class="fas fa-thumbs-down"></i> Dislike</a></div>
</div>
</div>
                                      </div>
</div>
<div class="tip">
<p class="added-date">Added  30 May 2019</p>
<div class="tip__top">
Reward &amp; follow <a target="_blank" href="https://twitter.com/holdneotarget2k">@holdneotarget2k</a>
</div>
</div>    </div>
</article>
<article class="col-xl-3 col-lg-4 col-md-6 card p-3 ">
<div class="card__body">
<div class="card__action card__action--left">
</div>
<div class="card__action card__action--right">
<a class="reminder rounded-item" href="#alertReminder" data-toggle="modal" data-target="#alertReminder" data-idevent="21613" data-date="10 June 2019" data-coin="Doge Token (DOGET)" data-title="Doge Token Airdrop" title="Doge Token Airdrop"><i class="far fa-clock" style="color:#4abce6"></i></a>
</div>

<div class="card__logo-wrapper">
<div class="icon-sm ">
<img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/doge-token_large.png" alt="Doge Token (DOGET)">
</div>
</div>
<h5 class="card__coins">
<a href="/en/coin/doge-token" class="link-detail">Doge Token (DOGET)</a>
</h5>
<a href="/en/event/doge-token-airdrop-21613" class="link-detail" title="Doge Token Airdrop">
<h5 class="card__date mt-0">10 June 2019</h5>
<h5 class="card__title mb-0 ellipsis">Doge Token Airdrop</h5>
</a>
<div id="box-21613">
<p class="card__description">
Doge Token will be airdropped to Dogecoin holders in 1:10 ratio that register before June 10th 2019.
</p>

<div class="container-fluid">
<div class="row justify-content-center">
<div class="col-md-5 col-6">
<a onclick="gtag('event', 'click',{'event_category' : 'modal_proof'})" class="btn btn-sm btn-border-b btn-color-link rounded-pill btn-block proof_modal" title="Show proof" href="https://d32bfp67k1q0s7.cloudfront.net/639f3d1da62ec4dd1d62df9965709237.png">Proof</a>
</div>
<div class="col-md-5 col-6">
<a class="btn btn-sm btn-border-b btn-color-link rounded-pill btn-block" title="Show source" target="_blank" href="https://medium.com/@DOGET/doge-token-airdrop-for-doge-coin-holders-1-10-4444784d2ed2">Source</a>
</div>
</div>
</div>
<div class="progress">
<div class="progress__votes">47
Votes</div>
<div class="progress-bar" style="width: 78.7234%;" aria-valuenow="78.723404255319" role="progressbar" aria-valuemin="0" aria-valuemax="100">
<span class="progress__percent" style="opacity: 1;">79</span>
</div>
</div>
<div class="card__vote-wrapper" style="opacity: 1;">

          <div class="container-fluid">
<div class="row">
<div class="col-6"><a class="btn btn-background-g  btn-block vote-button vote-button--list btn-sm" data-votevalue="1" title="Like" data-eventid="21613"><i class="fas fa-thumbs-up"></i> Like</a></div>
<div class="col-6"><a class="btn btn-background-g  btn-block vote-button vote-button--list btn-sm" data-votevalue="0" title="Dislike" data-eventid="21613"><i class="fas fa-thumbs-down"></i> Dislike</a></div>
</div>
</div>
                                      </div>
</div>
<div class="tip">
<p class="added-date">Added  29 May 2019</p>
          <div class="tip__top">Follow <a target="_blank" href="https://twitter.com/DOGE_TOKEN">@DOGE_TOKEN</a>
</div>
<div class="tip__bottom"></div>
</div>    </div>
</article>
<article class="col-xl-3 col-lg-4 col-md-6 card p-3 ">
<div class="card__body">
<div class="card__action card__action--left">
</div>
<div class="card__action card__action--right">
<a class="reminder rounded-item" href="#alertReminder" data-toggle="modal" data-target="#alertReminder" data-idevent="21791" data-date="10 June 2019" data-coin="Cardano (ADA)" data-title="Meetup With Charles" title="Meetup With Charles"><i class="far fa-clock" style="color:#4abce6"></i></a>
</div>

<div class="card__logo-wrapper">
<div class="icon-sm ">
<img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/cardano_large.png" alt="Cardano (ADA)">
</div>
</div>
<h5 class="card__coins">
<a href="/en/coin/cardano" class="link-detail">Cardano (ADA)</a>
</h5>
<a href="/en/event/meetup-with-charles-21791" class="link-detail" title="Meetup With Charles">
<h5 class="card__date mt-0">10 June 2019</h5>
<h5 class="card__title mb-0 ellipsis">Meetup With Charles</h5>
</a>
<div id="box-21791">
<p class="card__description">
"Join us for an introduction to three companies building on #Cardano #blockchain, as well as a panel discussion and networking opportunity!"
</p>

<div class="container-fluid">
<div class="row justify-content-center">
<div class="col-md-5 col-6">
<a onclick="gtag('event', 'click',{'event_category' : 'modal_proof'})" class="btn btn-sm btn-border-b btn-color-link rounded-pill btn-block proof_modal" title="Show proof" href="https://d32bfp67k1q0s7.cloudfront.net/c5be75d1fbd801f388c8937bbba17ee1.png">Proof</a>
</div>
<div class="col-md-5 col-6">
<a class="btn btn-sm btn-border-b btn-color-link rounded-pill btn-block" title="Show source" target="_blank" href="https://twitter.com/Cardano/status/1137237941225492480">Source</a>
</div>
</div>
</div>
<div class="progress">
<div class="progress__votes">22
Votes</div>
<div class="progress-bar" style="width: 100%;" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100">
<span class="progress__percent" style="opacity: 1;">100</span>
</div>
</div>
<div class="card__vote-wrapper" style="opacity: 1;">

          <div class="container-fluid">
<div class="row">
<div class="col-6"><a class="btn btn-background-g  btn-block vote-button vote-button--list btn-sm" data-votevalue="1" title="Like" data-eventid="21791"><i class="fas fa-thumbs-up"></i> Like</a></div>
<div class="col-6"><a class="btn btn-background-g  btn-block vote-button vote-button--list btn-sm" data-votevalue="0" title="Dislike" data-eventid="21791"><i class="fas fa-thumbs-down"></i> Dislike</a></div>
</div>
</div>
                                      </div>
</div>
<div class="tip">
<p class="added-date">Added  08 June 2019</p>
              </div>    </div>
</article>
<article class="col-xl-3 col-lg-4 col-md-6 card p-3 ">
<div class="card__body">
<div class="card__action card__action--left">
</div>
<div class="card__action card__action--right">
<a class="reminder rounded-item" href="#alertReminder" data-toggle="modal" data-target="#alertReminder" data-idevent="21663" data-date="10 June 2019" data-coin="Binance Coin (BNB), General Event (CRYPTO), DAOstack (GEN), Fetch (FET), Gnosis (GNO), Golem (GNT), Maker (MKR), Nexus (NXS), Ocean Protocol (OCEAN), Streamr DATAcoin (DATA), Tezos (XTZ)" data-title="CogX 2019" title="CogX 2019"><i class="far fa-clock" style="color:#4abce6"></i></a>
</div>

<div class="card__logo-wrapper">
<div class="icon-sm fader-logo slick-initialized slick-slider"><div class="slick-list"><div class="slick-track" style="opacity: 1; width: 308px;"><div class="slick-slide" data-slick-index="0" aria-hidden="true" style="width: 28px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 350ms linear 0s;" tabindex="-1"><div><img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/binance-coin_large.png" alt="Binance Coin (BNB)" style="width: 100%; display: inline-block;"></div></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 28px; position: relative; left: -28px; top: 0px; z-index: 998; opacity: 0; transition: opacity 350ms linear 0s;" tabindex="-1"><div><img class="logo responsive-height" src="/images/generic-icon.png" alt="General Event (CRYPTO)" style="width: 100%; display: inline-block;"></div></div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 28px; position: relative; left: -56px; top: 0px; z-index: 998; opacity: 0; transition: opacity 350ms linear 0s;" tabindex="-1"><div><img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/daostack_large.png" alt="DAOstack (GEN)" style="width: 100%; display: inline-block;"></div></div><div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 28px; position: relative; left: -84px; top: 0px; z-index: 998; opacity: 0; transition: opacity 350ms linear 0s;" tabindex="-1"><div><img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/fetch_large.png" alt="Fetch (FET)" style="width: 100%; display: inline-block;"></div></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 28px; position: relative; left: -112px; top: 0px; z-index: 998; opacity: 0; transition: opacity 350ms linear 0s;" tabindex="-1"><div><img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/gnosis-gno_large.png" alt="Gnosis (GNO)" style="width: 100%; display: inline-block;"></div></div><div class="slick-slide slick-current slick-active" data-slick-index="5" aria-hidden="false" style="width: 28px; position: relative; left: -140px; top: 0px; z-index: 999; opacity: 1;"><div><img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/golem-network-tokens_large.png" alt="Golem (GNT)" style="width: 100%; display: inline-block;"></div></div><div class="slick-slide" data-slick-index="6" aria-hidden="true" style="width: 28px; position: relative; left: -168px; top: 0px; z-index: 998; opacity: 0; transition: opacity 350ms linear 0s;" tabindex="-1"><div><img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/maker_large.png" alt="Maker (MKR)" style="width: 100%; display: inline-block;"></div></div><div class="slick-slide" data-slick-index="7" aria-hidden="true" style="width: 28px; position: relative; left: -196px; top: 0px; z-index: 998; opacity: 0; transition: opacity 350ms linear 0s;" tabindex="-1"><div><img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/nexus_large.png" alt="Nexus (NXS)" style="width: 100%; display: inline-block;"></div></div><div class="slick-slide" data-slick-index="8" aria-hidden="true" style="width: 28px; position: relative; left: -224px; top: 0px; z-index: 998; opacity: 0; transition: opacity 350ms linear 0s;" tabindex="-1"><div><img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/ocean-protocol_large.png" alt="Ocean Protocol (OCEAN)" style="width: 100%; display: inline-block;"></div></div><div class="slick-slide" data-slick-index="9" aria-hidden="true" style="width: 28px; position: relative; left: -252px; top: 0px; z-index: 998; opacity: 0; transition: opacity 350ms linear 0s;" tabindex="-1"><div><img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/streamr-datacoin_large.png" alt="Streamr DATAcoin (DATA)" style="width: 100%; display: inline-block;"></div></div><div class="slick-slide" data-slick-index="10" aria-hidden="true" style="width: 28px; position: relative; left: -280px; top: 0px; z-index: 998; opacity: 0; transition: opacity 350ms linear 0s;" tabindex="-1"><div><img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/tezos_large.png" alt="Tezos (XTZ)" style="width: 100%; display: inline-block;"></div></div></div></div></div>
</div>
<h5 class="card__coins">
<a class="link-detail" data-html="true" data-toggle="tooltip" data-trigger="hover" href="/en/coin/binance-coin" data-content="
<a href=&quot;/en/coin/binance-coin&quot; class=&quot;link-detail&quot;>Binance Coin (BNB)</a>,                                             <a href=&quot;/en/coin/cryptocurrencies&quot; class=&quot;link-detail&quot;>General Event (CRYPTO)</a>,                                             <a href=&quot;/en/coin/daostack&quot; class=&quot;link-detail&quot;>DAOstack (GEN)</a>,                                             <a href=&quot;/en/coin/fetch&quot; class=&quot;link-detail&quot;>Fetch (FET)</a>,                                             <a href=&quot;/en/coin/gnosis-gno&quot; class=&quot;link-detail&quot;>Gnosis (GNO)</a>,                                             <a href=&quot;/en/coin/golem-network-tokens&quot; class=&quot;link-detail&quot;>Golem (GNT)</a>,                                             <a href=&quot;/en/coin/maker&quot; class=&quot;link-detail&quot;>Maker (MKR)</a>,                                             <a href=&quot;/en/coin/nexus&quot; class=&quot;link-detail&quot;>Nexus (NXS)</a>,                                             <a href=&quot;/en/coin/ocean-protocol&quot; class=&quot;link-detail&quot;>Ocean Protocol (OCEAN)</a>,                                             <a href=&quot;/en/coin/streamr-datacoin&quot; class=&quot;link-detail&quot;>Streamr DATAcoin (DATA)</a>,                                             <a href=&quot;/en/coin/tezos&quot; class=&quot;link-detail&quot;>Tezos (XTZ)</a>                    " data-placement="top" data-original-title="" title="">Binance Coin (BNB) and 10
others                </a>
</h5>
<a href="/en/event/cogx-2019-21663" class="link-detail" title="CogX 2019">
<h5 class="card__date mt-0">10 June 2019</h5>
<h5 class="card__title mb-0 ellipsis">CogX 2019</h5>
</a>
<div id="box-21663">
<p class="card__description">
CogX 2019 conference in London from June 10-12.
</p>

<div class="container-fluid">
<div class="row justify-content-center">
<div class="col-md-5 col-6">
<a onclick="gtag('event', 'click',{'event_category' : 'modal_proof'})" class="btn btn-sm btn-border-b btn-color-link rounded-pill btn-block proof_modal" title="Show proof" href="https://d32bfp67k1q0s7.cloudfront.net/3b62f575965c9ef5e5f2e2cf74ae3e76.jpeg">Proof</a>
</div>
<div class="col-md-5 col-6">
<a class="btn btn-sm btn-border-b btn-color-link rounded-pill btn-block" title="Show source" target="_blank" href="https://cogx.co/">Source</a>
</div>
</div>
</div>
<div class="progress">
<div class="progress__votes">29
Votes</div>
<div class="progress-bar" style="width: 82.7586%;" aria-valuenow="82.758620689655" role="progressbar" aria-valuemin="0" aria-valuemax="100">
<span class="progress__percent" style="opacity: 1;">83</span>
</div>
</div>
<div class="card__vote-wrapper" style="opacity: 1;">

          <div class="container-fluid">
<div class="row">
<div class="col-6"><a class="btn btn-background-g  btn-block vote-button vote-button--list btn-sm" data-votevalue="1" title="Like" data-eventid="21663"><i class="fas fa-thumbs-up"></i> Like</a></div>
<div class="col-6"><a class="btn btn-background-g  btn-block vote-button vote-button--list btn-sm" data-votevalue="0" title="Dislike" data-eventid="21663"><i class="fas fa-thumbs-down"></i> Dislike</a></div>
</div>
</div>
                                      </div>
</div>
<div class="tip">
<p class="added-date">Added  31 May 2019</p>
<div class="tip__top">
Reward &amp; follow <a target="_blank" href="https://twitter.com/holdneotarget2k">@holdneotarget2k</a>
</div>
</div>    </div>
</article>
<article class="col-xl-3 col-lg-4 col-md-6 card p-3 ">
<div class="card__body">
<div class="card__action card__action--left">
</div>
<div class="card__action card__action--right">
<a class="reminder rounded-item" href="#alertReminder" data-toggle="modal" data-target="#alertReminder" data-idevent="21680" data-date="10 June 2019" data-coin="Beam (BEAM)" data-title="AMA w/ CMO Beni Issembert" title="AMA w/ CMO Beni Issembert"><i class="far fa-clock" style="color:#4abce6"></i></a>
</div>

<div class="card__logo-wrapper">
<div class="icon-sm ">
<img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/beam_large.png" alt="Beam (BEAM)">
</div>
</div>
<h5 class="card__coins">
<a href="/en/coin/beam" class="link-detail">Beam (BEAM)</a>
</h5>
<a href="/en/event/ama-w-cmo-beni-issembert-21680" class="link-detail" title="AMA w/ CMO Beni Issembert">
<h5 class="card__date mt-0">10 June 2019</h5>
<h5 class="card__title mb-0 ellipsis">AMA w/ CMO Beni Issembert</h5>
</a>
<div id="box-21680">
<p class="card__description">
AMA session with Beni Issembert, Beam CMO, at 7 PM (GMT) on Beam's YouTube channel.
</p>

<div class="container-fluid">
<div class="row justify-content-center">
<div class="col-md-5 col-6">
<a onclick="gtag('event', 'click',{'event_category' : 'modal_proof'})" class="btn btn-sm btn-border-b btn-color-link rounded-pill btn-block proof_modal" title="Show proof" href="https://d32bfp67k1q0s7.cloudfront.net/b7c54f1f0525a2eb15916e62109b8651.jpeg">Proof</a>
</div>
<div class="col-md-5 col-6">
<a class="btn btn-sm btn-border-b btn-color-link rounded-pill btn-block" title="Show source" target="_blank" href="https://docs.google.com/forms/d/1i1zAvCcXTudgms_EpjSMk3Wol4nTKKUdVMshCgX3Y2A">Source</a>
</div>
</div>
</div>
<div class="progress">
<div class="progress__votes">17
Votes</div>
<div class="progress-bar" style="width: 88.2353%;" aria-valuenow="88.235294117647" role="progressbar" aria-valuemin="0" aria-valuemax="100">
<span class="progress__percent" style="opacity: 1;">88</span>
</div>
</div>
<div class="card__vote-wrapper" style="opacity: 1;">

          <div class="container-fluid">
<div class="row">
<div class="col-6"><a class="btn btn-background-g  btn-block vote-button vote-button--list btn-sm" data-votevalue="1" title="Like" data-eventid="21680"><i class="fas fa-thumbs-up"></i> Like</a></div>
<div class="col-6"><a class="btn btn-background-g  btn-block vote-button vote-button--list btn-sm" data-votevalue="0" title="Dislike" data-eventid="21680"><i class="fas fa-thumbs-down"></i> Dislike</a></div>
</div>
</div>
                                      </div>
</div>
<div class="tip">
<p class="added-date">Added  02 June 2019</p>
<div class="tip__top">
Reward &amp; follow <a target="_blank" href="https://twitter.com/at24911662">@at24911662</a>
</div>
</div>    </div>
</article>
<article class="col-xl-3 col-lg-4 col-md-6 card p-3 ">
<div class="card__body">
<div class="card__action card__action--left">
</div>
<div class="card__action card__action--right">
<a class="reminder rounded-item" href="#alertReminder" data-toggle="modal" data-target="#alertReminder" data-idevent="21801" data-date="10 June 2019" data-coin="eBoost (EBST)" data-title="Binance DEX Listing" title="Binance DEX Listing"><i class="far fa-clock" style="color:#4abce6"></i></a>
</div>

<div class="card__logo-wrapper">
<div class="icon-sm ">
<img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/eboostcoin_large.png" alt="eBoost (EBST)">
</div>
</div>
<h5 class="card__coins">
<a href="/en/coin/eboostcoin" class="link-detail">eBoost (EBST)</a>
</h5>
<a href="/en/event/binance-dex-listing-21801" class="link-detail" title="Binance DEX Listing">
<h5 class="card__date mt-0">10 June 2019</h5>
<h5 class="card__title mb-0 ellipsis">Binance DEX Listing</h5>
</a>
<div id="box-21801">
<p class="card__description">
Binance DEX lists eBoost at 11 AM (EST).
</p>

<div class="container-fluid">
<div class="row justify-content-center">
<div class="col-md-5 col-6">
<a onclick="gtag('event', 'click',{'event_category' : 'modal_proof'})" class="btn btn-sm btn-border-b btn-color-link rounded-pill btn-block proof_modal" title="Show proof" href="https://d32bfp67k1q0s7.cloudfront.net/f695089e40d441eece6a76e184af118c.png">Proof</a>
</div>
<div class="col-md-5 col-6">
<a class="btn btn-sm btn-border-b btn-color-link rounded-pill btn-block" title="Show source" target="_blank" href="https://blockchainwire.io/press-release/esports-token-eboost-to-be-listed-on-binance-dex">Source</a>
</div>
</div>
</div>
<div class="progress">
<div class="progress__votes">9
Votes</div>
<div class="progress-bar" style="width: 66.6667%;" aria-valuenow="66.666666666667" role="progressbar" aria-valuemin="0" aria-valuemax="100">
<span class="progress__percent" style="opacity: 1;">67</span>
</div>
</div>
<div class="card__vote-wrapper" style="opacity: 1;">

          <div class="container-fluid">
<div class="row">
<div class="col-6"><a class="btn btn-background-g  btn-block vote-button vote-button--list btn-sm" data-votevalue="1" title="Like" data-eventid="21801"><i class="fas fa-thumbs-up"></i> Like</a></div>
<div class="col-6"><a class="btn btn-background-g  btn-block vote-button vote-button--list btn-sm" data-votevalue="0" title="Dislike" data-eventid="21801"><i class="fas fa-thumbs-down"></i> Dislike</a></div>
</div>
</div>
                                      </div>
</div>
<div class="tip">
<p class="added-date">Added  08 June 2019</p>
<div class="tip__top">
Reward the contributor
</div>
</div>    </div>
</article>
<article class="col-xl-3 col-lg-4 col-md-6 card p-3 ">
<div class="card__body">
<div class="card__action card__action--left">
<span class="rounded-item"><i title="Confirmed by official representatives" class="fas fa-badge-check" style="color:#60c01e; font-size: 15px"></i></span>
</div>
<div class="card__action card__action--right">
<a class="reminder rounded-item" href="#alertReminder" data-toggle="modal" data-target="#alertReminder" data-idevent="21725" data-date="10 June 2019" data-coin="Cointorox (OROX)" data-title="OROX Rewards Round 12" title="OROX Rewards Round 12"><i class="far fa-clock" style="color:#4abce6"></i></a>
</div>

<div class="card__logo-wrapper">
<div class="icon-sm ">
<img class="logo responsive-height" src="https://d235dzzkn2ryki.cloudfront.net/cointorox_large.png" alt="Cointorox (OROX)">
</div>
</div>
<h5 class="card__coins">
<a href="/en/coin/cointorox" class="link-detail">Cointorox (OROX)</a>
</h5>
<a href="/en/event/orox-rewards-round-12-21725" class="link-detail" title="OROX Rewards Round 12">
<h5 class="card__date mt-0">10 June 2019</h5>
<h5 class="card__title mb-0 ellipsis">OROX Rewards Round 12</h5>
</a>
<div id="box-21725">
<p class="card__description">
5% Weekly rewards for Cointorox community members holding over 500 OROX. Token rewards distributed from leftover bounty tokens.
</p>

<div class="container-fluid">
<div class="row justify-content-center">
<div class="col-md-5 col-6">
<a onclick="gtag('event', 'click',{'event_category' : 'modal_proof'})" class="btn btn-sm btn-border-b btn-color-link rounded-pill btn-block proof_modal" title="Show proof" href="https://d32bfp67k1q0s7.cloudfront.net/b88f4025a6eae5c76a0afd028e6f184e.png">Proof</a>
</div>
<div class="col-md-5 col-6">
<a class="btn btn-sm btn-border-b btn-color-link rounded-pill btn-block" title="Show source" target="_blank" href="https://twitter.com/cointoroxtoken/status/1136136825100103682">Source</a>
</div>
</div>
</div>
<div class="progress">
<div class="progress__votes">5
Votes</div>
<div class="progress-bar" style="width: 90.4977%;" aria-valuenow="90.497737556561" role="progressbar" aria-valuemin="0" aria-valuemax="100">
<span class="progress__percent" style="opacity: 1;">90</span>
</div>
</div>
<div class="card__vote-wrapper" style="opacity: 1;">

          <div class="container-fluid">
<div class="row">
<div class="col-6"><a class="btn btn-background-g  btn-block vote-button vote-button--list btn-sm" data-votevalue="1" title="Like" data-eventid="21725"><i class="fas fa-thumbs-up"></i> Like</a></div>
<div class="col-6"><a class="btn btn-background-g  btn-block vote-button vote-button--list btn-sm" data-votevalue="0" title="Dislike" data-eventid="21725"><i class="fas fa-thumbs-down"></i> Dislike</a></div>
</div>
</div>
                                      </div>
</div>
<div class="tip">
<p class="added-date">Added  05 June 2019</p>
<div class="tip__top">Confirmed by official representatives</div>
</div>    </div>
</article>
</div>