<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    name="viewport"
  />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Welcome to Bittrading" />

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="/stylesheets/lib/bootstrap.min.css"
  />
  <link rel="stylesheet" type="text/css" href="/stylesheets/lib/all.min.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="/stylesheets/lib/animate.min.css"
  />
  <!-- card image -->
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css"
  />

  <!-- favicon -->

  <!-- Document Title -->
  <title>Bittrading</title>
</head>
