<header id="header">
  <div
    class="d-none d-md-block swiper-container swiper-container-fade swiper-container-horizontal"
    style="margin-top: -20px; margin-bottom: 20px;"
  >
    <div id="logo" class="pull-left">
      <a href="/" class="scrollto"
        ><img id="damda" src="/images/bitcoin.png" style="margin-top: -10px;"
      /></a>
    </div>

    <nav id="nav-menu-container">
      <ul
        class="nav-menu sf-js-enabled sf-arrows"
        style="margin-right: 100px; margin-top: 10px; touch-action: pan-y;"
      >
        <li class="nav-menu-list m-4"><a href="/all_notices">공지사항</a></li>
        <li class="nav-menu-list m-4"><a href="/users/sign_in">로그인</a></li>
      </ul>
    </nav>
  </div>
</header>
