<body>
  <!-- nav Tab -->
  <% include ../common/nav.ejs %>

  <!-- Body part -->
  <% include components/cover.ejs %>

  <!-- Content type -->
  <% include components/content/index.ejs %>

  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
  <script src="/javascripts/main.js"></script>
</body>
